<h1><%= @shelter.name %></h1>
<hr>
<p>
  <%= @shelter.address %>
  <br>
  <%= @shelter.city %>, <%= @shelter.state%> <%= @shelter.zip %>
</p>
<%= button_to 'See Available Pets', "/shelters/#{@shelter.id}/pets", method: :get %>
<br>
<hr>

<h2>Reviews:</h2>
<% @shelter.reviews.each do |review| %>
  <h4><%= review.title %></h4>
  <p>
    <%= "Rating: #{review.rating}/5" %>
    <br>
    <br>
    <%= review.content %>
    <br>
    <%= review.picture %>
  </p>
  <br>
  <%= button_to 'Edit Review', "/reviews/#{review.id}/edit", method: :get %>
  <br>
  <%= button_to 'Delete Review', "/reviews/#{review.id}", method: :delete, :class => "delete-review" %>
  <br>
  <hr>
<% end %>
<br>
<%= button_to 'Add Review', "/shelters/#{@shelter.id}/reviews/new", method: :get %>
<br>
