<h1><%= @shelter.name %></h1>
<hr>
<p>
  <%= @shelter.address %>
  <br>
  <%= @shelter.city %>, <%= @shelter.state%> <%= @shelter.zip %>
</p>
<%= button_to 'See Available Pets', "/shelters/#{@shelter.id}/pets", method: :get %>

<h3>Reviews:</h3>
<p><% @shelter.reviews.each do |review| %>
    <%= review.title %>
    <%= "#{review.rating}/5" %>
    <%= review.content %>
    <%= review.picture %>
    <%= button_to 'Edit review', "/reviews/#{review.id}/edit", method: :get %>
    <%= button_to 'Delete review', "/reviews/#{review.id}", method: :delete, :class => "btn" %>
<% end %></p>

<%= button_to 'Add review', "/shelters/#{@shelter.id}/reviews/new", method: :get %>
