<h2><%= @application.name %></h2>
<p>
  Address:
  <%= @application.address %>
  <br>
  <%= @application.city %>, <%= @application.state %> <%= @application.zip %>
</p>
<%= @application.phone_number %>
<br>
<%= @application.description %>
<br>
<br>
<% @application.pets.each do |pet| %>
  <% if pet.status == "Pending" %>
    <br>
    <%= link_to pet.name, "/pets/#{pet.id}" %>
    <br>
    <br>
    <%= button_to "Revoke Application", "/pets/#{pet.id}", method: :patch %>
  <% else%>
    <br>
    <%= link_to pet.name, "/pets/#{pet.id}" %>
    <br>
    <br>
    <%= button_to "Approve Application", "/pets/#{pet.id}", method: :patch %>
  <% end %>
<% end %>
