<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <nav class='topnav'>
    <a href='/shelters'>Shelters Index</a>
    <a href='/pets'>Pets Index</a>
    <a href='/favorites'>Favorites: <% if session[:favorites].nil? %>
                                         <%= "0" %>
                                    <% else %>
                                         <%= "#{session[:favorites].count}" %>
                                    <% end %></a>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
